<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <img
          src="../assets/photos/angular.png"
          class="navbar-brand"
          height="50"
          alt="logo"
          srcset=""
        />
      </button>
      &nbsp;
      &nbsp;
      <h1>Angular Application</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav position="start" [mode]="'side'">
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let sideMenu of sideMenus"
        routerLink="{{sideMenu.disabled?'':sideMenu?.url}}"
        [disabled]="sideMenu.disabled"
        >{{ sideMenu?.name }} &nbsp; <mat-icon style="float: right;">{{ sideMenu.icon }}</mat-icon></a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
