<section>
  <div class="container mt-4">
    <p-table [columns]="cols" [value]="array">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-columns="columns" >
        <tr>
          <td *ngFor="let col of columns">
            {{ data[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
