/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  font-family: 'Julius Sans One', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
